<div class="event_comment_index" >   
    <% comments.each do |comment| %>
        <p clsss="comment_content"><%= comment.comment %><br><%= comment.user.name %>さん</p>
        <p class="comment_destroy"><%= link_to "削除", event_comment_path(comment.event_id,comment.id), method: :delete, remote:true, class: "btn-lg btn_gradient_red"%></p>
    <% end %>
</div>

