<div class="container_search">
    <% if @model == 'event' %>
        <h1 class="search_event_result">イベント検索結果 "<%= @content %>"</h1>
        <%= render 'events/index', events: @datas %>
    <% else %>
        <h1 class="search_user_result">ユーザー検索結果 "<%= @content %>"</h1>
        <%= render 'users/index', users: @datas %>
    <% end %>
</div>


