<div class="row events" >
    <h4 class="events-index">PICK UP EVENTS</h4>

    <!-- 部分テンプレート -->
        <%= render 'events/index', events: @events %>
        <div class="event_paginate">
            <% if 0 < @events.length %>
                <%= paginate @events %>
            <% end %>
        </div>
        

    