<div class=" home_about">
	<div class="about_description">

        <p class="about_title">SHARE WITHとは</p>
        <p >-----</p>
        <p class="about_explanation">イベントを企画したり、他の方が企画したイベントに参加できます。</p>
        <p class="about_explanation">面白そう、興味がある、趣味の話をしたい、そうした思いを叶える場をSHARE WITHは提供します。</p>

        <p class="about_title">オンラインに拘る理由</p>
        <p>-----</p>
        <p class="about_explanation">自宅やカフェ、会議室など場所を問わず、パソコンなどのデバイスとWIFI環境さえあれば会話ができます。</p>
        <p class="about_explanation">距離や移動時間に囚われないためよりストレスなく集まることができます。</p>

        <p class="about_title">Zoomを推奨する理由</p>
        <p>-----</p>
        <p class="about_explanation">オンライン映像交流サービスにはSkypeをはじめとして・様々なサービスが存在しますが、</p>
        <p class="about_explanation">その中でも、通信などの面で一番使用感が安定しているためです。</p>
        <p class="about_explanation">Zoomの無料版は最大100人まで同時参加することができます。</p>
        <p class="about_explanation">大人数での会話もZoomなら実現可能です。</p>

        <p class="about_title">Remoを推奨する理由</p>
        <p>-----</p>
        <p class="about_explanation">イベント会場のような４人席のテーブルが用意されます。</p>
        <p class="about_explanation">例えば街コンなどでは実際の会場の近い臨場感でできます。</p>
        <p class="about_explanation">時間がきたら席替えをして交流することができます。</p>


        <p class="about_title">イベントの企画、参加全て無料</p>
        <p>-----</p>
        <p class="about_explanation">SHARE WITHでは趣味や時間の共有のための実現の障壁をなくすため、お客様負担は一切ございません。</p>
        <p class="about_bottom">この場を通じて様々な方と交流してください。</p>
        
    </div>
</div>


