<div class="home_about">
	<div class= "about_description">

        <p class="howto_title">SHARE WITHの使用方法</p>
        <p>-----</p>

        <p class="howto_explanation">1. イベント参加ツール</p>
        <p class="howto_explanation">・ZoomかRemoを使って交流できます。</p>
        <p class="howto_explanation">2. イベント投稿</p>
        <p class="howto_explanation">・ヘッダーの「Event Post」から項目を埋めて投稿できます。</p>
        <p class="howto_explanation">3. イベント参加</p>
        <p class="howto_explanation">・トップページのイベント投稿があったタイトルをクリック後、詳細画面に遷移します。</p>
        <p class="howto_explanation">・コメント欄にて参加の意思をコメントしてください。</p>
        <p class="howto_explanation">・基本的には募集人数に対して先着順となります。</p>
        <p class="howto_explanation">・イベント企画者が参加人数の希望を募集要項にて記載しております。</p>
        <p class="howto_explanation">4. 検索</p>
        <p class="howto_explanation">・ユーザーとイベントの検索はヘッダーの「Search」からできます。</p>
        <p class="howto_explanation">・イベントの場合は日付を11月1日以降から日付を選択し、検索頂けます。</p>
        <p class="howto_explanation">5. ダイレクトメッセージ</p>
        <p class="howto_explanation">・ヘッダーの「User」からやりとりをしたいユーザーの名前をクリックします。</p>
        <p class="howto_explanation">・チャットボタンをクリックして、ユーザー間でダイレクトメッセージを行ってください。</p>
        <p class="howto_explanation">6. 簡単ログイン</p>
        <p class="howto_explanation">・ヘッダーの「Test login」をクリックすると登録なしでお試しで使用できます。</p>
        <p class="howto_explanation">・会員登録は「Sign up」、ログインは「Login」からSHARE WITHを使用できます</p>

        <p class="howto_title">Zoomの使用方法</p>
        <p>-----</p>

        <p class="howto_item">1. アカウント登録</p>
        <p class="howto_explanation">・Zoomのホームページにアクセスします。</p>
        <p class="howto_explanation">・名前、メールアドレス、パスワードの簡単な入力項目でアカウントを作成できます。</p><br>

        <p class="howto_item">2. 招待URL</p>
        <p class="howto_explanation">・Zoomにログイン後、「マイ個人ミーティング」の画面に遷移します。</p>
        <p class="howto_explanation">・「招待のコピー」をクリックすることでクリップボードにコピーされます。</p>
        <p class="howto_explanation">・SHARE WITHのDMから参加者に招待URLを送ることでミーティングの招待ができます。</p><br>

        <p class="howto_item">3. 参加方法</p>
        <p class="howto_explanation">・イベント企画者から送られてきた招待URLをクリックします。</p>
        <p class="howto_explanation">・「コンピューターオーディオに参加」というボタンをクリックすることで該当のZoomに入室します。</p>
        <p class="howto_explanation">・イベント参加者と交流ができるようになります。</p>




        <p class="howto_title">Remoの使用方法</p>
        <p>-----</p>

        <p class="howto_item">1. アカウント登録</p>
        <p class="howto_explanation">・イベントをつくるにはRemoのアカウントが必要です。</p>
        <p class="howto_explanation">・アカウントをつくるには,Googleアカウントまたはemailアドレスを準備します。</p>
        <p class="howto_explanation">・RemoのHPからサインアップをしてください</p><br>

        <p class="howto_item">2. イベント作成</p>
        <p class="howto_explanation">・ログインしたら画面左上のピンクのロゴマークをクリックし、「My Events」を選びます。</p>
        <p class="howto_explanation">・イベントタイトル、イベント画像、イベント説明などの必要項目を埋めます。</p>
        <p class="howto_explanation">・「Save and Publish Event」をクリックして作成完了です。</p><br>

        <p class="howto_item">３．参加者招待</p>
        <p class="howto_explanation">・作成したイベントタイルの右上の「…」をクリックします。</p>
        <p class="howto_explanation">・その後「Copy invite URL」をクリックし、招待用URLをコピーします。</p>
        <p class="howto_explanation">・また、参加してもらうにはremoのアカウント登録が必要です。</p>
        <p class="howto_explanation">・URLと併せてその旨もお伝えしましょう。</p>

        <p class="howto_title">注意事項</p>
        <p>-----</p>
        <p class="howto_explanation">・Zoomは招待者がアカウント登録していれば、参加者は登録の必要はありません。</p>
        <p class="howto_explanation">・Remoは招待者、参加者それぞれアカウント作成が必要です。</p>
        <p class="howto_explanation">・イベントの無断欠席は厳禁です。</p>
        <p class="howto_explanation">・何かありましたら、招待者の方にダイレクトメッセージで連絡しましょう。   
    </div>
</div>


