<div class="container home_font ">
	<div class="row about_description">

        <p class="howto_title">SHARE WITHの使用方法</p>
        <p>-----</p>

        <p>・ZoomやRemoを使って交流できます。</p>
        <p>・イベント企画は、ヘッダーの「Event Post」から項目を埋めて投稿できます。</p>
        <p>・イベント参加は、他の方が企画したイベントの詳細画面のコメント欄にて参加の意思をコメントしてください。</p>

        <p>・イベント企画者が上限の参加人数をイベント詳細にて記載しております。</p>
        <p>・コメントで参加の意思を示された人の制限数分で予約を締め切らせて頂きます。</p>
        <p>・やりとりはDM(ダイレクトメッセージ)で行ってください。</p>



        <p class="howto_title">Zoomの使用方法</p>
        <p>-----</p>

        <p class="howto_item">1. アカウント登録</p>
        <p>・Zoomのホームページにアクセスします。</p>
        <p>・名前、メールアドレス、パスワードの簡単な入力項目でアカウントを作成できます。</p><br>

        <p class="howto_item">2. 招待URL</p>
        <p>・Zoomにログイン後、「マイ個人ミーティング」の画面に遷移します。</p>
        <p>・「招待のコピー」をクリックすることでクリップボードにコピーされます。</p>
        <p>・SHARE WITHのDMから参加者に招待URLを送ることでミーティングの招待ができます。</p><br>

        <p class="howto_item">3. 参加方法</p>
        <p>・イベント企画者から送られてきた招待URLをクリックします。</p>
        <p>・「コンピューターオーディオに参加」というボタンをクリックすることで該当のZoomに入室します。</p>
        <p>・イベント参加者と交流ができるようになります。</p>




        <p class="howto_title">Remoの使用方法</p>
        <p>-----</p>

        <p class="howto_item">1. アカウント登録</p>
        <p>・イベントをつくるにはRemoのアカウントが必要です。</p>
        <p>・アカウントをつくるには,Googleアカウントまたはemailアドレスを準備します。</p>
        <p>・RemoのHPからサインアップをしてください</p><br>

        <p class="howto_item">2. イベント作成</p>
        <p>・ログインしたら画面左上のピンクのロゴマークをクリックし、「My Events」を選びます。</p>
        <p>・イベントタイトル、イベント画像、イベント説明などの必要項目を埋めます。</p>
        <p>・「Save and Publish Event」をクリックして作成完了です。</p><br>

        <p class="howto_item">３．参加者招待</p>
        <p>・作成したイベントタイルの右上の「…」をクリックします。</p>
        <p>・その後「Copy invite URL」をクリックし、招待用URLをコピーします。</p>
        <p>・また、参加してもらうにはremoのアカウント登録が必要です。</p>
        <p>・URLと併せてその旨もお伝えしましょう。</p>

        <p class="howto_title">注意事項</p>
        <p>-----</p>
        <p>・Zoomは招待者がアカウント登録していれば、参加者は登録の必要はありません。</p>
        <p>・Remoは招待者、参加者それぞれアカウント作成が必要です。</p>
        <p>・イベントの無断欠席は厳禁です。</p>
        <p>・何かありましたら、招待者の方に連絡しましょう。
        
    </div>
</div>

<p></p>
