/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 90px;
    background-color: moccasin;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin: 0 !important;
}

.logo img {
    position: relative;
    height: 90px;
    width: 100px;
}


.navbar .nav > li {
	margin-top: 20px;
}

.welcome {
    margin-top: 50px;
}

body {
    height: 100vh;
    overflow-y: scroll;
    transform: translateZ(0); 
    background-image: image-url('pc6.jpg');
    background-size: cover;
    background-position: top;
    width:100%;
    font-size: 20px;                          
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: moccasin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #337ab7;
}

.pagination>li>a {          
    border: none;   
    color: #696969;   
}

.pagination>.active>a {     
    background: #93c9ff;     
    border-radius: 15px;    
}

.pagination>li>a:hover {        
border-radius: 15px;    
}

.search-form {
    float: right;
    margin: 50px 30px 0 0;
}

input[type="text"] {
    width: 300px;
    height: 40px;
}

.devide_content {
    background-color:rgb(128, 128, 128);
    font-size: 30px;
    font-family: cursive;
    width: 57%;
}

.main-contents {
    min-height: 1000px;
}

.modal fade {
    margin-top: 30px;
}

input[name="event[title]"] {
    width: 200px;
}

.btn-lg-search {
    margin-top: 28px;
    margin-left: 10px;
    font-size: 20px;
}