/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 90px;
    background-color: moccasin;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}

.logo img {
    position: relative;
    height: 88px;
    width: 100px;
    left: 670px;
    bottom: 11px;
}

.nav {
    position: relative;
    top: 10px;
    right: 400px; 
}

.navbar-right {
    justify-content: flex-end
}

.welcome {
    margin-right: 160px;
    margin-top: 10px;
}

.navbar .nav > li {
    position: relative;
    top: 10px;
    left: 300px;
}

.pagination>li>a {          
    border: none;   
    color: #696969;   
}

.pagination>.active>a {     
    background: #93c9ff;     
    border-radius: 15px;    
}

.pagination>li>a:hover {        
    border-radius: 15px;    
}

.search-form {
    float: right;
    margin: 50px 30px 0 0;
}

input[type="text"] {
    width: 300px;
    height: 40px;
}

.modal fade {
    margin-top: 30px;
}

input[name="event[title]"] {
    width: 200px;
}

.btn-lg-search {
    margin-top: 28px;
    margin-left: 10px;
    font-size: 20px;
}

.menu-btn, .menu {
    display: none;
}

@media screen and (max-width:1600px) {
    /*----------------------------
    * メニュー開閉ボタン
    *----------------------------*/
    .menu-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #333;
        color: #fff;
    }

    /*----------------------------
    * メニュー本体
    *----------------------------*/
    .menu{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #555;
    }

    .menu__item{
        width: 100%;
        height: auto;
        padding: .5em 1em;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
    }

    /*----------------------------
    * アニメーション部分
    *----------------------------*/

    /* アニメーション前のメニューの状態 */
    .menu{
        transform-origin: top left;
        transform: rotateZ(-90deg);
        transition: all .3s ease;
    }
    /* アニメーション後のメニューの状態 */
    .menu.is-active{
        transform: rotateZ(0deg);
    }

    .navbar-right {
        display: none;
    }
}

