// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    height: 100vh;
    overflow-y: scroll;
    transform: translateZ(0); 
    background-image: image-url('pc6.jpg');
    // background-image: url(pc6.jpg);
    background-size: cover;
    background-position: top;
    width:100%;
    font-size: 20px;                          
}

.events {
    font-size: 20px;
}

.main-contents {
    min-height: 1800px;
}

.event_all {
    background-color: rgba(255, 255, 255, 1);
    width: 100% !important;
    height: 1200px;
    font-size: 20px;
} 

.event_all_show {
    background-color: rgba(255, 255, 255, 1);
    width: 100% !important;
    height: 1200px;
    font-size: 20px;
    padding-left: 50px;
}

.event_new {
    padding-left: 200px;
    padding-top: -100px;
}

.event-box {
    float: left;
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    margin: 20px;
}

.event_button {
    position: absolute;
    bottom: 30px;
    left: 800px;
}

input[type="text"] {
    width: 500px;
    height: 40px;
}

.event_description {
    margin-top: 20px;
}

.events-index {
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    color: #337ab7;
    margin: 50px 0px 100px 250px;
    background-color: rgba(255, 255, 255, .3);
    width: 27%;
    position:  relative;   
}

.event_content {
    float: left;
    width: 50%;
}

.event_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 150px;
}

.event_paginate {
    text-align: center;
}

.event_post {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, .3);
    width: 30%;
}

.new_event_left{
    margin: 30px 0 0 0z;
}

.form-interval {
    margin-bottom: 20px;
}

.event_ranking {
    margin-right: 280px;
}

.ranking-title {
    background-color: rgba(255, 255, 255, .3);
    font-size: 30px;
    margin-top: 30px;
    margin-right: 20px;
}

.list_crown {
    list-style: none;
    background-color: rgba(255, 255, 255, .3);
    font-size: 30px;
    margin-top: 30px;
}

.event_show {
    margin-left: 30px;
}

.event_show_title {
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
    margin: 60px 0px 30px 80px;
    background-color: rgba(255, 255, 255, .3);
    width: 20%;
}

.event_show_left {
    margin-left: 50px;
    width: 70%;
}

.event_show_right {
    background-color: rgba(255, 255, 255, .8);
}

.event_show_item {
    background-color: rgba(255, 255, 255, .5);
    margin: 0 0px 250px 0px;
    font-size: 20px;
    height: 100px;
}

.event_comment{
    margin: 30px 0 30px 300px;
    width: 40%;
}

.event_comment_layout {
    background-color: rgba(255, 255, 255, .8);
    padding-right: 200px;
}


.event_save_button {
    margin-top: 30px;
    margin-left: 300px;
}

.event_edit {
    padding-left: 100px;
}

.event_edit_title {
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    color: black;
    margin: 30px 0px 100px 140px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, .3);
    width: 25%;
}

.new_event_submit {
    position: absolute;
    bottom: -10px;
    right: 300px;
    
}

.comment_destroy{
    margin-bottom: 30px;
}

.comment_button {
    margin-left: 620px
}


