// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


.home_about {
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 20px;
    background-image: image-url('pc6.jpg');
    // background-image: url(pc6.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 2000px;
    background-repeat : repeat-y
}

.home_howto {
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 20px;
    background-image: image-url('pc6.jpg');
    // background-image: url(pc6.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 2500px;
    background-repeat : repeat-y
}

.about_description {
    background-color: rgba(255, 255, 255, .7);
    padding-left: 200px;
    padding-top: 15px;
    height: 2000px;
}

.howto_description {
    background-color: rgba(255, 255, 255, .7);
    padding-left: 200px;
    padding-top: 15px;
    height: 2500px;
}

.about_explanation, .howto_explanation, .howto_item {
    font-size: 20px;
}

.about_title {
    font-size: 30px;
    padding-top: 50px;
}

.about_bottom {
    margin-bottom: 50px;
    font-size: 20px;
}

.howto_explanation_head, .howto_explanation_description {
    margin-bottom: 15px;
}

.howto_title {
    font-size: 30px;
    padding-top: 50px;
}

@media screen and (max-width:1600px) {
    .about_description, .howto_description {
        padding-left: 40px;
    }

    .about_explanation, .howto_explanation, .howto_item about_bottom{
        font-size: 15px;
    }
    
    .about_title, .howto_title {
        font-size: 20px;
    }
    
    .about_bottom {
        font-size: 15px;
    }
}

@media screen and (max-width:600px) {
    .about_description,  .howto_description  {
        padding-left: 5px;
    }
}