// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_all {
    background-color: rgba(255, 255, 255, 1);
    width: 100% !important;
    height: 1200px;
    font-size: 20px;
}

.table table-hover table-inverse {
    background-color: rgba(255, 255, 255, 1);
}

.user_index_title {
    background-color: rgba(255, 255, 255, .8);
    width: 15%;
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    color: #337ab7;
    margin: 50px 0px 20px 220px;
}

.user_index_item {
    margin-left: 200px;
}

.table-inverse {
    font-size: 20px;
    margin-top: 50px;
}

.user_dm {
    margin-left: 150px;
}

.user_dm_index {
    background-color: white;
}

.user_dm_name {
    margin-left: 30px;
}

.user_show_image {
    padding-bottom: 450px;
}

.user_show {
    margin-top: 100px;
    height: 600px;
    padding-left: 300px;
}

.user_mypage {
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 40px;
}

.user_show_item {
    font-size: 25px;
    background-color: rgba(255, 255, 255, .8);
}

.user_edit {
    padding-left: 200px;
    margin-top: 50px;
}
.edit_button {
    margin-left: 500px;
}

.user_show_room {
    margin-bottom: 300px;
}

.form_interval{
    margin-bottom: 40px;
}

.user_edit_profile {
    margin-bottom: 40px;
}

.go_chat {
    position: relative;
    bottom: 250px;
    left: 180px;
}

.start_chat {
    position: relative;
    bottom: 250px;
    left: 144px;
}

.user_button {
    position: relative;
    bottom: 750px;
    left: 1200px;
}